@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
}

.game-board {
    width: 100%;
    height: 100vh;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: mario-jump 500ms ease-in-out;
}

.clouds {
    width: 550px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
    margin-top: 50px;
}

#score {  
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    z-index: 2;
}

.game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8%;
    height: 100vh;
}

#retry {
    border: none;
    text-transform: uppercase;
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    display: none;
}

#retry:hover {
    color: rgba(255, 255, 255, 0.884);
}

#points {
    font-size: 20px;
    display: none;
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@keyframes mario-jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }


    100% {
        bottom: 0;
    }
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}
